* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(247, 233, 248);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  size: 20px;
  padding: 50px;
}
h1 {
  font-size: 40px;
  margin-bottom: 25px;
}
h3 {
  text-decoration: underline rgba(92, 0, 95, 0.986);
}
p {
  padding: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.lettercount {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  text-decoration: rgba(92, 0, 95, 0.986);
}
.headers {
  color: rgba(92, 0, 95, 0.986);
}
.theword {
  padding-bottom: 25px;
  font-size: 50px;
}

#your-guess {
  background-color: rgb(241, 209, 239);
  border: 5px solid;
  border-color: black;
  width: 450px;
  padding: 25px;
  margin-top: 30px;
  float: right;
}
input,
button {
  padding: 10px;
  font-size: 16px;
}
#man-image {
  width: 300px;
  height: 300px;
  float: left;
  padding-bottom: 20px;
}
.btn {
  background-color: rgba(92, 0, 95, 0.986);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.btn-info {
  background-color: rgba(92, 0, 95, 0.986);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.float-right {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  text-decoration: rgba(92, 0, 95, 0.986);
  float: right;
}
